venv/
/.idea/
segmented_index/
src/testing.py
data/amazon_reviews_us_Books_v1_00.tsv.gz
data/amazon_reviews_us_Digital_Music_Purchase_v1_00.tsv.gz
data/amazon_reviews_us_Music_v1_00.tsv.gz
results.txt
log.txt
*.pclprof
*.bat
tf_idf_index/
bm25_index/
__pycache__